.map-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    }
    .exerciseContainer {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        padding: 2em;
        margin: 1em;
        background: rgb(58, 58, 58);
        border-radius: 20px 20px;
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
      }
      .exerciseContainer:hover {
        transform: scale(1.1);
      }